@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Ralway';
	src: url('../font/Raleway-Bold.eot');
	src: local('Ralewy Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
/* ***** GENERAL ***** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 1050px;
	margin: 0 auto;
}
.clearfix {
	clear: both;
	content: "";
	display: table;
}
html {
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
}
/* ***** COLORS ***** */
.bc-green {
	background-color: #00cfab;
}
.green {
	color: #00cfab;
}
.f9 {
	color: #f9f9f9;
}
.bc-f9 {
	background-color: #f9f9f9;
}
.f1 {
	color: #f1f1f1;
}
.e4 {
	color: #e4e4e4;
}
.c2 {
	color: #c2c2c2;
}
.color9 {
	color: #999;
}
strong {
	font-weight: bold;
}
/* ***** HEADER ***** */
header {
	background-color: black;
	height: 40px;
}
header .logo-header p {
	text-transform: uppercase;
	color: white;
	float: left;
}
nav {
	float: right;
}
nav ul {
	text-transform: uppercase;
	color: white;
	list-style-type: none;	
}
nav ul li {
	display: inline-block;
}
/* ***** CAROUSEL ***** */
section.carousel-section {
	height: 496px; 
	background: rgba(250,250,250,1);
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(25%, rgba(248,248,248,1)), color-stop(50%, rgba(245,245,245,1)), color-stop(75%, rgba(225,225,228,1)), color-stop(100%, rgba(207,206,215,1)));
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cfced7', GradientType=0 );
}
section.carousel-section .carousel-image {
	float: left;
	width: 406px;
	height: 496px;
}
section.carousel-section .carousel-text {
	float: left;
	width: 644px;
	height: 496px;
	padding: 0 80px;
}
section.carousel-section .carousel-text h1 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}
section.carousel-section .carousel-text p {
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}
section.carousel-section .carousel-text button {
	/*background-color: #e92121;*/
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	text-transform: uppercase;
	color: white;
}
/* ***** GALLERY ***** */
section.gallery-section {
	height: 352px;
}
section.gallery-section .gallery-image {
	float: left;
	width: 320px;
	height: 224px;
	margin-right: 45px;
}		
section.gallery-section .gallery-image h3 {
	font-size: 16px;
	font-weight: bold;
	border-bottom: solid 7px #00cfab;
	width: 160px;
}

section.gallery-section .gallery-text-box {
	float: left;
	width: 320px;
	height: 256px;
}
section.gallery-section .gallery-text-box h3 {
	font-size: 16px;
	font-weight: bold;
	border-bottom: solid 7px #00cfab;
	width: 160px;
}
/* ***** PRICE TABLE ***** */
section.price-section {
	height: 768px;
	text-align: center;;
}
section h2 {
	font-size: 22px;
	font-weight: bold;
	border-bottom: solid 8px #00cfab;
	width: 320px;
	text-align: left;
}
section.price-section .price-tag {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #fff;
	border: solid 2px #c2c2c2;
	margin: 24px auto;
}
section.price-section .feature {
	height: 48px;
	font-size: 24px;
	line-height: 48px;
	color: #999;
	font-weight: normal;
}
section.price-section div[class^="price-tag-"] {
	margin-top: 96px;
}
section.price-section .price-tag-normal {
	float: left;
	width: 320px;
	height: 512px;
	border: solid 2px #c2c2c2;
}
section.price-section .price-tag-normal .feature:nth-of-type(odd) {
	background-color: #e4e4e4;
}
section.price-section .price-tag-normal .feature:nth-of-type(even) {
	background-color: #f1f1f1;
}
section.price-section .price-tag-highlight {
	float: left;
	width: 320px;
	height: 512px;
	margin: 0 45px;
	border: solid 2px #00cfab;
}	
section.price-section .price-tag-highlight .price-tag {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #fff;
	border: solid 2px #00cfab;
	margin: 24px auto;
}
section.price-section .price-tag-highlight .feature:nth-of-type(odd) {
	background-color: #fff;
}
section.price-section .price-tag-highlight .feature:nth-of-type(even) {
	background-color: #f1f1f1;
}
section.price-section button {
	padding: 8px 32px;
	font-size: 16px;
	line-height: 16px;
	border: none;
	text-transform: uppercase;
	margin: 20px 32px;
	border-radius: 10px;
}
section.price-section h3 {
	padding-top: 48px;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
}
.superscript {
	font-size: 16px;
	font-weight: bold;
	vertical-align: super;
}
.price {
	padding-top: 20px;
	font-size: 44px;
	font-weight: bold;
}
.month {
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
/* ***** FORM ***** */
section.form-section {
	height: 544px;
}
section.form-section .form-left {
	float: left;
	width: 685px;
	height: 432px;
	margin-right: 45px;
}	
section.form-section .form-right {
	float: left;
	width: 320px;
	height: 432px;
}
input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
	padding-left:53px;
	height:40px; 
	display:inline-block;
	line-height:1.3;
	background-repeat:no-repeat;
	background-position: 0 0;
	/*font-size:40px;*/
	vertical-align:middle;
	cursor:pointer;

}
input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
	background-position: 0 -40px;
}
label.css-label {
	background-image:url('../images/form_ok.jpg');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 16px;
}
/* ***** FOOTER ***** */
footer {
	height: 80px;
}
footer .copyright {
	float: left;
}
footer .logo-footer {
	float: right;
}
footer .social-media {
	float: right;
}
