.carousel {
	height: $moduleY * 31; 
	background: rgba(250,250,250,1);
	background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(25%, rgba(248,248,248,1)), color-stop(50%, rgba(245,245,245,1)), color-stop(75%, rgba(225,225,228,1)), color-stop(100%, rgba(207,206,215,1)));
	background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(248,248,248,1) 25%, rgba(245,245,245,1) 50%, rgba(225,225,228,1) 75%, rgba(207,206,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cfced7', GradientType=0 );
}
.slide-item {
	position: relative;
	&:before,
	&:after {
		font-size: $fontSize * 4;
		font-weight: normal;
		color: #00cfab;
		position: absolute;
		top: 216px;
	}
	&:before {
		content: "<";
		left: 0;
	}
	&:after {
		content: ">";
		right: -2px;	
	}
}
.slide-item-image-container {
	float: left;
	width: 406px;
	position: relative;
	&__image {
		transform: scale(1.3, 1.3);
		margin: 110px 0 0 32px;
	}
}
.slide-item-text-container {
	float: left;
	width: 644px;
	height: 240px;
	margin-top: 128px;
	padding: 0 96px;
	text-align: center;
	position: relative;
	&__headline,
	&__bold--color {
		font-size: 40px;
		text-transform: uppercase;
		font-weight: normal;
		height: 64px;
	}
	&__headline {
		color: $color-dark;
	}
	&__bold--color {
		font-weight: bold;
		color: $color-primary;
	}
	&__paragraph {
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		height: 128px;
	}
	&__button,
	&__button--color {
		position: absolute;
		top: $moduleY * 12;
		left: 0;
		right: 0;
		margin: 0 auto;
		border: none;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	&__button {
		&--color {
			color: white;
			background-color: $color-primary;
		}
	}
}