
.footer {
	&__container {
		@include container($desktop-size);
		margin-top: $moduleY * 4;
		height: $moduleX * 2;
	}
	&__container--clearfix {
		@extend %clearfix::before;
		@extend %clearfix::after;
	}
	&__copyright {
		float: left;
		line-height: $moduleX * 2;
		color: map-get($greyscale-map, grey4);
	}
	&__site-logo {
		height: $moduleX *2;
		width: $moduleX * 3;
		float: right;
	}
	&__social-media {	
		float: right;
		padding: 22px 63px 0 0;
	}
}
.site-logo {
	&__normal-text--dark {
		text-transform: uppercase;
		color: map-get($greyscale-map, grey4);
		line-height: $moduleX * 2;
	}
	&__link--dark {
		text-decoration: none;
		color: map-get($greyscale-map, grey4);
	}
}
.social-media {
	&__icon {
		padding-left: 5px;
	}
}
