.header {
	background-color: $color-dark;
	&__container {
		@include container($desktop-size);
		height: $moduleX;
	}
	&__container--clearfix {
		@extend %clearfix::before;
		@extend %clearfix::after;
	}
	&__site-logo {
		width: $moduleX * 3;
		float: left;
	}
	&__navigation {
		float: right;
		width: $moduleX * 11;
	}
}
.site-logo {
	&__normal-text {
		text-transform: uppercase;
		color: $color-light;
		line-height: $moduleX;
	}
	&__bold-text, [class*="bold-text"] {
		font-weight: bold;
	}
	&__bold-text--color {
		color: $color-primary;
	}
	&__link {
		text-decoration: none;
		color: $color-light;
	}
}
.navigation {
	&__menu {
		text-transform: uppercase;
		color: $color-light;
		list-style-type: none;
		line-height: $moduleX;
	}
	&__menu-item {
		width: $moduleX * 3;
		display: inline-block;
		position: relative;
		text-align: center;
		// &:hover {
		// 	.navigation__submenu-box {
		// 		display: block;
		// 		width: $moduleX * 4;
		// 		position: absolute;
		// 		top: $moduleX * 1.5;
		// 		left: $moduleX / -2;
		// 		background-color: black;
		// 		color: white;
		// 		z-index: 100;
		// 		padding: 10px 0;
		// 	}
		// 	.navigation__arrow {
		// 		width: $moduleX;
		// 		height: $moduleX;
		// 		top: -$moduleX / 4.5;
		// 		left: 0;
		// 		right: 0;
		// 		margin: 0 auto;
		// 		position: absolute;
		// 		background-color: black;
		// 		transform: rotate(45deg);
		// 		z-index: -10;
		// 	}
		// }
	}
	&__submenu-box {
		display: block;
		width: $moduleX * 4;
		position: absolute;
		top: $moduleX * 1.5;
		left: $moduleX / -2;
		background-color: black;
		color: white;
		z-index: 100;
		padding: 10px 0;
		list-style-type: none;
	}
	&__submenu-box--hidden {
		display: none;
	}
	&__arrow {
		width: $moduleX;
		height: $moduleX;
		top: -$moduleX / 4.5;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		background-color: black;
		transform: rotate(45deg);
		z-index: -10;
	}
	&__submenu-item {
		height: 35px;
		font-size: 14px;
		line-height: 35px;
	}
}