.price-table {
	background-color: #f1f1f1;
	&__container {
		@include container($desktop-size);
		height: $moduleY * 48;
		text-align: center;
		padding-top: $moduleY * 3;
	}
	&__container--clearfix {
		@extend %clearfix::before;
		@extend %clearfix::after;
	}
	&__title {
		@extend %section-title;
	}
	&__price-tag,
	&__price-tag--color {
		float: left;
	}
	&__price-tag--color {
		margin-left: 45px;
		margin-right: 45px;
	}
}

.price-tag {
	&__container,
	&__container--color {
		width: 320px;
		height: 512px;
		position: relative;
		margin-top: 96px;
		border: solid 2px #c2c2c2;
		background-color: #f9f9f9;
	}
	&__container--color {
		background-color: $color-primary;
		border: solid 2px $color-primary;
	}

	&__circle-big,
	&__circle-big--color,
	&__circle-small,
	&__circle-small--white {
		@extend %pricetable-circle;
	}	
	&__circle-big,
	&__circle-big--color {
		width: 64px;
		height: 64px;
		margin: -32px auto;
	}
	&__circle-big {
		border: solid 2px #c2c2c2;
		background-color: #fff;
	}
	&__circle-big--color  {
		border: solid 2px $color-primary;
		background-color: $color-primary;
	}
	&__circle-small,
	&__circle-small--white {
		width: 32px;
		height: 32px;
		margin: 14px auto;
	}		
	&__circle-small {
		background-color: #999;
	}
	&__circle-small--white {
		background-color: #f9f9f9;
	}

	
	&__title,
	&__title--white {
		padding-top: 48px;
		font-size: 26px;
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 1px;
	}
	&__title {
		color: $color-primary;
	}
	&__title--white {
		color: $color-light;
	}

	&__price-circle, [class *= "__price-circle"] {
		height: 120px;
		width: 120px;
		border-radius: 50%;
		background-color: #fff;	
		margin: 24px auto;
		border: solid 2px #c2c2c2;
	}
	&__price-circle--color {
		border: solid 2px $color-primary;
	}

	&__price,
	&__price--color {
		padding-top: 20px;
		font-size: 44px;
		font-weight: bold;
	}
	&__superscript,
	&__superscript--color {
		font-size: 16px;
		font-weight: bold;
		vertical-align: super;
	}
	&__permonth,
	&__permonth--color {
		margin-top: 2px;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__price,
	&__superscript,
	&__permonth {
		color: #999;
	}
	&__price--color,
	&__superscript--color,
	&__permonth--color  {
		color: $color-primary;
	}
	

	&__feature,
	&__feature--light,
	&__feature--dark {
		height: $moduleY * 3;
		font-size: 24px;
		line-height: $moduleY * 3;
		color: #999;
		font-weight: normal;		
	}
	&__feature {
		background-color: #f1f1f1;
	}
	&__feature--light {
		background-color: #fff;
	}
	&__feature--dark {
		background-color: #e4e4e4;
	}

	&__button,
	&__button--white {
		width: 140px;
		position: absolute;	
		padding: 7px 32px 9px 32px;
		font-size: $fontSize;
		height: $moduleY * 2;
		border: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 5px;
		bottom: $moduleY;
		right: 0;
		left: 0;
		margin: auto;
	}
	&__button {
		color: $color-light;
		background-color: $color-primary;
	}
	&__button--white {
		color: $color-primary;
		background-color: $color-light;			
	}

}
