@mixin container($screenSize) {
	width: $screenSize;
	margin: 0 auto;
}
@mixin column($width) {
	width: $width;
}
// Placeholdery z elementami wykorzystywanymi w wielu modułach
%clearfix::before,
%clearfix::after {
	clear: both;
	content: "";
	display: table;
}
%reset-css {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
}
%pricetable-circle {
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
%section-title {
	border-bottom: solid 8px $color-primary;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: -3px;
	padding-bottom: 3px;
	text-align: left;
	text-transform: uppercase;
	width: 320px;
	word-spacing: 1px;
}

// Koniec placeholderów

// Mixin sprawdzania responsywności
@mixin screen-is-smaller($value) {
	@media all and (max-width: $value) {
		@content;
	}
}

@mixin screen-is-bigger($value) {
	@media all and (min-width: $value+1) {
		@content;
	}
}

// Koniec sprawdzania responswyności